@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/* Estilos generales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  height: 100%;
  position: relative;
}

/* Estilos de la barra de navegación */
.header {
  background-color: rgb(38, 108, 170);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  padding: 5px 10%;
  font-size: 20px;
  font-family: 'Russo One', sans-serif;
}

.header .logo {
  cursor: pointer;
}

.header .logo img {
  height: 70px;
  width: auto;
  transition: all 0.3s;
}

.header .logo img:hover {
  transform: scale(1.2);
}

.header .nav-links {
  list-style: none;
  margin-left: auto;
}

.header .nav-links li {
  display: inline-block;
  padding: 0px 25px;
}

header .nav-links li:hover {
  transform: scale(1.5);
}

.header .nav-links a {
  color: white;
  text-decoration: none;
}

.header .botones {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.header .botones h4 {
  padding: 10px 0;
}

.header .botones .btn button {
  font-weight: 700;
  color: rgb(38, 108, 170);
  padding: 9px 25px;
  background-color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header .botones .btn button:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.header .nav-links a:hover {
  text-decoration: none;
}

/* Estilos del contenido principal */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 78%;
}

.container {
  max-width: 500px;
  margin: auto;
}

h1, h2 {
  text-align: center;
  font-family:'Russo One', sans-serif;
}

/* Estilos del home */
.conteiners-divs {
  display: flex;
  justify-content: center;
}

.conteiners-divs > div {
  border-radius: 20px;
  color: white;
  background-color: rgb(38, 108, 170);
  margin: 20px;
  text-align: justify;
  width: calc(40% - 40px); /* Ajusta el ancho según tus necesidades */
  max-width: 600px; /* Limita el ancho máximo */
  min-width: 300px; /* Establece un ancho mínimo */
  padding: 20px;
}

.conteiners-divs > div h2 {
  margin-top: 0;
  font-family:'Russo One', sans-serif;
  font-size: 30px;
}

.conteiners-divs > div p {
  margin-bottom: 0;
  font-size: 1rem;
}